{% extends 'base.html.twig' %}

{% block title %}{{ "Login" | trans }}{% endblock %}

{% block body %}
    <form method="post">

        <div class="container" style="width: 500px; margin-top: 15%;">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <label for="inputUsername">{{ "Username" | trans }}</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                   required autofocus>
            <label for="inputPassword">{{ "Password" | trans }}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <br>

            <button type="submit" class="btn btn-primary">{{ "Sign in" | trans }}</button>
            {{ "or" | trans }}
            <a href="{{ path('register_user') }}">
                <button type="button" class="btn btn-danger">
                    {{ "Register" | trans }}</button>
            </a>
        </div>


    </form>
{% endblock %}
