{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .centrer{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

    </style>

    <center>
        {% for message in app.flashes('login') %}
                <div class="alert alert-dismissible alert-warning mt-3" style="width: 500px; border-radius: 10px; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>

        {% endfor %}
    </center>


    {% if (is_granted("ROLE_USER") or is_granted("ROLE_ADMIN")) %}
        <div class="container">
            <div class="centrer">
                <h1>{{ "Connected as"|trans }} "<u>{{ username }}</u>."</h1>
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPERADMIN") %}
                    <a class="mt-2" style="outline: none" href="{{ path('admin') }}"> {{ "Admin Panel"|trans }}</a>
                    {% else %}
                        <a class="mt-2" style="outline: none" href="{{ path('app_logout') }}"> {{ "Logout"|trans }}</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="centrer">
                <h1>{{ "Anonymously logged in !"|trans }}</h1>
                <a class="mt-2 ml-2 underline-link" style="outline: none" href="{{ path('app_login') }}"> {{ "Login"|trans }}</a>
            </div>
        </div>
    {% endif %}



{% endblock %}

